<header>
    <div id="container">
    <div><h3 style="color: black">Магазин компьютерной техники</h3></div>
    <div id="contact-container">
        <form >
            <input type="search" name="search" placeholder="Search.." class="search"></form>
        <div style="padding-left: 3vw;  color: #88eb8a; display: flex">
        </div>
    </div>
</div>
    <hr color="#3d423d" style="margin: 0">
<div id="menu-container">
    <div class="menu-item Home" onClick="window.location='/profile'"><h6>Личный кабинет</h6></div>
    <div class="menu-item About" onClick="window.location='/shop'"><h6>Магазин</h6></div>
    <div class="menu-item Services" onClick="window.location='/orders'"><h6>Мои заказы</h6></div>
</div>
</header>