<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Список пользователей</title>
    <script src="../js/jquery-3.3.1.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link href="../css/registration.css" rel="stylesheet" type="text/css">
    <link href="../css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
{{> header}}
<main>
<div class="employee_form">
<div class="form_box" id="content1">

    <label for="computer_name">Имя компьютера:</label>
    <input type="text" id="computer_name" required />

    <label for="processor">Процессор</label>
    <input type="text" id="processor" required />

    <label for="video">Видеокарта:</label>
    <input type="text" id="video" required />

    <label for="disk">Жёсткий диск</label>
    <input type="password" id="disk" required />

    <label for="ram">Оперативная память:</label>
    <input type="text" id="ram" required />

    <label for="price">Цена:</label>
    <input type="text" id="price" required />

    <label>Производитель:</label>
    <div class="content_employee" >
        <div class="select-wrapper">
            <select name='manufactures' id='manufactures'>
            </select>
            <div class="select-arrow-1"></div>
        </div>
    </div>
    <input type="text" id="manufacture" required disabled/>

    <button type="submit" id="button1" class="btn_submit">Добавить компьютер</button>

</div>
<div class="form_box" id="content2">
        <label for="monitor_name">Название монитора:</label>
        <input type="text" id="monitor_name" required />

        <button type="submit" id="button2" class="btn_submit">Добавить монитор</button>

</div>
<div class="form_box" id="content3">

        <label for="name_surname">Имя и Фамилия:</label>
        <input type="text" id="name_surname" required />

        <label for="chief">Начальник</label>
    <div class="content_employee" >
        <div class="select-wrapper">
            <select name='employees' id='employees'>

            </select>
            <div class="select-arrow-1"></div>
        </div>
    </div>
        <input type="text" id="chief" required disabled/>

        <button type="submit" id="button3" class="btn_submit">Добавить работника</button>
</div>

</div>
</main>
{{> footer}}
<div id="mask"></div>
<div class="small_message" id="add"><h3 id="text"></h3></div>


<script src="../js/employee.js"></script>
<script src="../js/menu.js"></script>
</body>
</html>