<html>
<head>
    <title>Shop</title>
    <link href="../css/styles.css" rel="stylesheet" type="text/css">
    <link href="../css/index.css" rel="stylesheet" type="text/css">
    <script src="../js/jquery-3.3.1.js" ></script>
</head>
<body>
{{> header}}
<main><h2>Личные данные</h2>
<table class="table table-condensed table-striped table-bordered">
    <thead>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Логин</th>
        <th>Номер</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</main>
{{> footer}}
</body>
<script src="../js/menu.js"></script>
<script src="../js/profile.js"></script>
</html>