<html>
<head>
    <title>Shop</title>
    <link href="../css/styles.css" rel="stylesheet" type="text/css">
    <link href="../css/index.css" rel="stylesheet" type="text/css">
    <script src="../js/jquery-3.3.1.js" ></script>
</head>
<body>
{{> header}}
<main>
<h1>Магазин</h1>
    <h3>Компьютеры</h3>
<div id="List"></div>
<table cellspacing="0">
    <thead>
    <tr>
        <th>Id</th>
        <th>Имя</th>
        <th>Процессор</th>
        <th>Видеокарта</th>
        <th>Диск</th>
        <th>Память</th>
        <th>Цена</th>
    </tr>
    </thead>
    <tbody id="computers">
    </tbody>

</table>
    <h3>Мониторы</h3>
    <table class="small_table" cellspacing="0">
        <thead>
        <tr>
            <th>Id</th>
            <th>Монитор</th>
        </tr>
        </thead>
        <tbody id="monitors">
        </tbody>
    </table>
    <fieldset>
        <legend>Выберите продавца:</legend>
       <div class="content_employee" >
           <div class="select-wrapper">
            <select name='language' id='language'>
            </select>
            <div class="select-arrow-1"></div>
        </div>
        <div id='selection'></div>
        </div>
        <div class="newOrder_button">
        <button id="create" disabled>Create</button>
        </div>
    </fieldset>
</main>
{{> footer}}
</body>
<script src="../js/menu.js"></script>
<script src="../js/Shop.js"></script>

</html>