<html>
<head>
    <title>Shop</title>
    <link href="../css/styles.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/index.css" rel="stylesheet" type="text/css">
    <script src="../js/jquery-3.3.1.js" ></script>
</head>
<body>
{{> header}}
<main>
<h1>Магазин</h1>
    <h3>Компьютеры</h3>
<div id="List"></div>
<table class="table table-condensed table-striped table-bordered">
    <thead>
    <tr>
        <th>Id</th>
        <th>Имя</th>
        <th>Процессор</th>
        <th>Видеокарта</th>
        <th>Диск</th>
        <th>Память</th>
        <th>Цена</th>
    </tr>
    </thead>
    <tbody id="computers">
    </tbody>

</table>
    <h3>Мониторы</h3>
    <table class="table table-condensed table-striped table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Имя</th>
        </tr>
        </thead>
        <tbody id="monitors">
        </tbody>
    </table>
    <fieldset>
        <legend>Выберите продавца:
        </legend>
        <form name='myForm' >
            <select name='language' id='language'>
            </select>
        </form>
        <div id='selection'></div>
        </div>
        <button id="create" disabled>Create</button>
    </fieldset>
</main>
{{> footer}}
</body>
<script src="../js/menu.js"></script>
<script src="../js/Shop.js"></script>

</html>